configstore/
gh/
karabiner/
iterm2/
scripthub/
sanity/
github-copilot/
zsh/.zsh_history
nvim/plugged/*
nvim/.netrwhist
nvim/notes/*
nvim/pack/
nvim/plugin/
zsh/private-zshrc.sh
.DS_Store
gitor/
tmux/plugins/
StardewValley/
bottom/
nvim/lua/core/private.lua
wslu
Microsoft*
